.nav-item-custom, .nav-item-custom a {
    color:#fff;
}
.footer-custom {

    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;

}


.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item {
    margin-top: 50px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-weight: bold;
    font-size: 19px;
}
.cart-icon {height: 21px;
margin-left: 18px;}

.form-check {
background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top:7px;

}
.account-item {
    background-color: #f1f2f6;
    padding: 70px;
}

